#card-chart-container {
  font-family: Arial;
  border: 6px #aaa;
  border-radius: 5px;
  overflow: auto;
  padding: 10px 10px 10px 10px;
}

#card-chart-container .orgchart > ul > li > ul li > .node::before {
  height: 14px !important;
}
#card-chart-container .orgchart .node.matched {
  background-color: rgba(238, 217, 54, 0.5);
}
#card-chart-container .orgchart .node {
  width: 342px !important;
}

#card-chart-container .orgchart .node .content {
  box-sizing: border-box;
  padding: 2px;
  height: 143px !important;
  font-size: 0.75rem !important;
  border: 2px solid rgba(217, 83, 79, 0.8) !important;
  border-radius: 0 0 4px 4px;
  text-align: left !important;
  background-color: #2596be !important;
  color: #fff !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#card-chart-container .orgchart .node .title {
  width: auto !important;
  text-align: left !important;
  font-size: 1rem !important;
  height: 50px !important;
}

#chart-container .orgchart .node .title .symbol {
  margin-right: 20px !important;
  margin-top: 16px !important;
  margin-left: 4px !important;
}

#card-chart-container .orgchart .node .content {
  height: auto !important;
}

#card-chart-container .orgchart .employee .title {
  background-color: #006699 !important;
}

#card-chart-container .orgchart .employee .content {
  border-color: #006699 !important;
}

#card-chart-container .orgchart .contractor .title {
  background-color: #009933 !important;
}

#card-chart-container .orgchart .contractor .content {
  border-color: #009933 !important;
}

#card-chart-container .orgchart .vacant .title {
  background-color: #d87212 !important;
}

#card-chart-container .orgchart .vacant .content {
  border-color: #d87212 !important;
}

#card-chart-container .imgcircle {
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}
